@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f3lved');
  src:  url('fonts/icomoon.eot?f3lved#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f3lved') format('truetype'),
    url('fonts/icomoon.woff?f3lved') format('woff'),
    url('fonts/icomoon.svg?f3lved#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\e905";
}
.icon-fb-square:before {
  content: "\e906";
}
.icon-ig-square:before {
  content: "\e90b";
}
.icon-line:before {
  content: "\e90c";
}
.icon-line-square:before {
  content: "\e90d";
}
.icon-searcher:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e917";
}
.icon-twitter-square:before {
  content: "\e918";
}
.icon-youtube-square:before {
  content: "\e919";
}
