block page
  - var page = page ? page : ''
doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
      title Webpack 5
      
  body(class= page)
    .main-wrapper
      main
        block navbar
          ul
            li
              a(href="/") Home
            li
              a(href="/about.html") About
        block content

    //script
    block script
      script(src="~assets/js/static/jquery-3.5.1.min.js")
